:root{
    --primaryColor: #232764;
    --secondaryColor:#3274aad8;
    --secondaryColor_2:#25669c62;
    --secondaryColor_0:#3274aa5e;
    --back:transparent;
    --words:#3f4041;
    --shadow:white;
    --opa:0.4;
    --opa2:0.3;

    --backsmall:#eeeeeeda;


   

}

.dark{
    --primaryColor:#ffbf00;
    --secondaryColor:rgba(218, 182, 22, 0.075);
    --secondaryColor_2:	#c09e364f;
    --secondaryColor_0:#000000;
    --back:#000000;
    --words:rgba(255,255,255,0.8);
    --shadow:black;
    --opa:0.4;
    --opa2:0.5;

    --backsmall:#1b1b1b;





}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 1s ease-in;
    /* scroll-behavior: smooth; */

}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;


}
body{
    overflow-x:hidden;
    /* scroll-behavior: smooth; */

    height: 100%;
    width: 100%;
    font-family: 'arial';
    background-image:linear-gradient(var(--secondaryColor_0) , var(--back))

   
}   
.Flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_shadow{
    border-radius: 20px;
    box-shadow: 1px 1px 8px 0.5px var(--primaryColor);
    padding: 20px;
    border: none;

}


/* HEADER */
.HeaderBox{
    width: 98%;
    height: 15%;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 11;
    background-color: var(--backsmall);
    margin-bottom: 1%;
    padding:5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);



}

.change{
    width: 4%;
    height: 55%;
    border-radius: 40px;
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 1s ease;


}.change2{
    color: var(--primaryColor);


}


.logo{
    width: 20%;
    height: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all 2s ease;


}
.logo:hover{
    transform: scale(1.1);

}
.logoo{ 
     width: 60%;
     height: 60%; 
 } 
.nav{
    width: 60%;
    list-style-type: none;
    justify-content: space-around;
    padding:20px 5px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: transparent;

    background-image:linear-gradient(var(--secondaryColor),transparent) ;

}
.Link{
    font-size: 22px;
    padding: 10px 20px;
    margin-left:20px ;
    border-radius: 10px;
    text-decoration:none;
    font-weight: 500;;
    color:var(--words);
    background-color: transparent;
    text-shadow: 1px 1px 5px var(--shadow);
    transform: scale(1);
    border: 1px solid transparent;

    transition: all 1s ease;

}
.Link:hover ,.active{
    background-color: var(--secondaryColor_0);
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
}




/* home */
.Home{
    margin-top:20px;
    position: relative;
    width: 90%;
    height: 1200px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px var(--secondaryColor_2) ;
    justify-content: space-around;
    flex-direction: column;
    background-image:linear-gradient(var(--secondaryColor) , transparent 20%);
    

}
.back{
    position: absolute;
    width: 500px;
    height:30%;
    background: transparent url("logooo.png") no-repeat center fixed ;
    background-size: 400px 300px;
    opacity: var(--opa); 
    
}
.back2{
    position: absolute;
    width: 500px;
    height:97%;
    background: transparent url("logooo.png") no-repeat center fixed ;
    background-size: 400px 300px;
    opacity: var(--opa); 
    
}
.back3{
    position: absolute;
    width: 500px;
    height:100%;
    background: transparent url("logooo.png") no-repeat center fixed ;
    background-size: 400px 300px;
    opacity: var(--opa); 
    
}
.left{

    width: 450px;
    height: 550px;
    position: relative;
    background-color: transparent;
    margin-top: 50px;
    /* visibility: hidden; */



    
}
.leftimg1{
    /* transform: translate(-100%); */
    width: 60%;
    height: 75%;
    position: absolute;
    top:80px;
    left: 25%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.7);
    overflow: hidden;


    

}
.leftimg{
    /* opacity: 0; */
    /* transform: translate(-100%); */
    width: 50%;
    height: 55%;
    position: absolute;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
   overflow: hidden;
    top:140px;
    left: 10%;
    position: relative;
    transition: all 2s ease;

   
}
.leftimgs{
    width: 100%;
    height: 100%;
    background: transparent url("1.png") no-repeat center ;
    background-size: cover;
    transition: all 2s ease;
    opacity: 1;



}
.leftimgsc{
    position: absolute;
    top:0px;

    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, var(--opa2));
    transition: all 1s ease;

    
}

.leftimgsc1{
    position: absolute;
    top:0px;

    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0,var(--opa2));
    transition: all 1s ease;

    
}

.leftimgs1{
    width: 100%;
    height: 100%;
    background: transparent url("6.jpg") no-repeat center ;
    background-size: cover;
    opacity: 1;
}






.leftimgsc:hover{
    background-color:rgba(0, 0, 0, 0.2);

}
.leftimgsc1:hover{
    background-color:rgba(0, 0, 0, 0.1);

}
.leftimg:hover{
    z-index: 2;
}
.leftimg1:hover{
    z-index: 2;

}

.right{
    background-color: transparent;
    width: 95%;
    flex-direction: column;
    transform: rotateY(0deg);
    transition: all 4s ease;
    align-items: center;
    padding: 120px 0% 0% 5%;
    
}



.top{
    font-size: 55px;
    font-weight: bold;
    color: #25679c;
    letter-spacing: 2px;
    text-shadow: 1px 1px 6px #25679c;
    background-color: transparent;



}
.bottom{
    background-color: transparent;
    margin-top: -5px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #232764d2;
    text-shadow: 1px 1px 4px #232764;



}
.icons{
    margin-top: 50px;
    background-color: transparent;
}
.fa{padding: 20px 20px;
        background-color: transparent;

    color:#232764;
    transition: all 1s ease;
    cursor: pointer;}



.fa:hover{transform: scale(1.4)}
.wat{
    transform: scale(1);
    color:#22801e;
    background-color: transparent;

    transition: all 1s ease;
    cursor: pointer;}

.wat:hover{transform: scale(1.4)}
.tel{
    padding: 20px 20px;
    transform: scale(1);
    color:#2151a5;
    background-color: transparent;

    transition: all 1s ease;
    cursor: pointer;}

.tel:hover{transform: scale(1.4)}

.pra1,.pra2{
    
    font-weight: 500;
    direction: rtl;
    font-size: 19px;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
    padding-right: 30px;
    background: transparent;
    width: 300px;

    
}


/* courses */
.APP{
    padding-top:2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.courses{
    width: 95%;
    flex-direction: column;
    position: relative;


}
.courses_top{
    padding: 100px;
    z-index: 9;
    height:50px;
    font-size: 22px;
    font-weight: 500;
    color: var(--primaryColor);
    letter-spacing: 2px;
    text-shadow: 1px 1px 8px var(--secondaryColor);


}
.courses_bottom{
    flex-direction: column;
    margin-top: 5px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;



}
.card{
    cursor: pointer;
    background-color: var(--backsmall);
    z-index: 10;
    margin-top: 50px;
    width: 300px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 0.5px var(--primaryColor);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;




}
.topcard{
    width: 100%;
    height: 55%;
    opacity: 0.85;
    transition: all 1s ease;
}
.bottomcard{
    padding:5%;
    flex-direction: column;
    align-items: end;

}
.hn{
    width: 100%;
    justify-content: space-between;
    padding-bottom: 9%;

}
.title{
    font-size: 18px;
    font-weight: 500;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
    padding: 4% 3% 7% 0% ;
}
.hours{
    direction: rtl;
    font-size: 16px;
    font-weight: 400;;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
}
.nameEng{
    font-size: 16px;
    font-weight: 500;;
    color:#818894;
    text-shadow: 1px 1px 5px var(--shadow);
}


.price{

    width: 100%;
    font-size: 24px;
    font-weight: 600;;
    color:var(--primaryColor);
    transform: scale(1);

}
.card:hover .topcard {
    transform: scale(1.15);
    opacity: 1;
}
.card:hover .price{
    transform: scale(1.1) translate(-10px,0px);
}


.content{
    width: 95%;
    flex-direction: column;
    padding: 30px 10px;
    gap:30px;

}


.content .video{
    width: 95%;
    height: 420px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 0.5px var(--primaryColor);
    transition: all 1s ease;

}
.content .video:hover{ transform: scale(1.02);
    cursor: pointer;}
    


.content .social{
    height: 100px;
    width: 350px;
    gap: 10px;
    margin-right: -150px;
    margin-top: 10px;



}


 

.social .rights{
    width: 87px;
    height:87px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 0.5px var(--primaryColor);
    cursor: pointer;


    

}

.social .lefts{
    flex-direction: column;


}
.social .lefts .lefttop {
    font-size: 20px;
    font-weight: 500;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
    padding: 7px;


}
.social .lefts .leftbot {
    font-size: 16px;
    font-weight: 500;;
    color:#818894;
    padding: 7px;
    text-shadow: 1px 1px 5px var(--shadow);


} 

.contentCourses{
    margin-top: 50px;
    padding-top:20px ;

    flex-direction: column;
    width:450px ;
    gap: 100px;
}
.contentCourses .boxcontent{
    flex-direction: column;
    width: 90%;
    gap: 20px;



}
.contentCourses .boxcontent .one{
    font-size: 20px;
    font-weight: 500;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
    width: 95%;
    height: 30px;






}
.contentCourses .boxcontent .two{
    font-size: 16px;
    font-weight: 500;;
    color:#818894;
    text-shadow: 1px 1px 5px var(--shadow);
    width: 95%;
    height: 200px;




}

/* engineers */
.eng{
    position:relative;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    padding-top: 5%;
    margin-top: 5%;
}

.engtop{
    padding: 5%;
    height: 10px;
    width: 90%;
    height: 100px;
    font-size: 22px;
    font-weight: 500;
    color: var(--primaryColor);
    letter-spacing: 2px;
    text-shadow: 1px 1px 8px var(--secondaryColor);



}

.engbottom{
    flex-direction: column;
    justify-content: space-around;
    width: 90%;

}

.eng_imag{
    z-index: 9;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0px;

}
.eng_imag img{
    width: 100%;
    height: 100%;
}
.eng_so{
    padding: 15%;
}
.eng_so , .eng_par{
    flex-direction: column;

}
.eng_1{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color:var(--words);
    text-shadow: 1px 1px 5px var(--shadow);
}
.eng_2{

    font-size: 16px;
    font-weight: 500;;
    color:#818894;
    text-shadow: 1px 1px 5px var(--shadow);
}















